# Supabase Configuration
VITE_SUPABASE_URL=https://quecpuwlmbtdbitbvrpr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1ZWNwdXdsbWJ0ZGJpdGJ2cnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NzAxMDksImV4cCI6MjA5MDQ0NjEwOX0.kG7YIZ0XMdkp6eblh8JSkluwO5nD7m6yr45-CTqlCho

# Feature Flags
VITE_ADMIN_ENABLED=true
